:root {
	--info: #17a2b8;
	--danger: #dc3545;
	--primary: #007bff;
	--success: #28a745;
	--warning: #ffc107;
	--light: #f8f9fa;
	--background-color: #e3f2fd;
	--dark: #343a40;
	--muted: #6c757d;
	--white: #fff;
	--darker: #333;
	--btn: #e5be98;
	--picker: #fcfdfd;
	--secondary: #6c757d;
}
/* .showcase {
	color: #fff;
	background-color: #343434;
	position: relative;
	height: 100vh;
	width: 100vw;
}
.showcase:before {
	content: '';
	background-position: center;
	background-attachment: fixed;
	background-image: url('../../img/bg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	width: 100vw;
	height: 100vh;
	opacity: 0.3;
} */
.imageBox {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../img/bg2.jpg') center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	min-height: 100vh;
	display: flex;
	/* align-items: center; */
	justify-content: center;
}
.imageBox .content {
	max-width: 600px;
	margin-top: 200px;
	display: flex;
	justify-content: center;
}
.imageBox .content div {
	margin: 0px 20px;
}
.imageBox .content p {
	font-size: 1.2rem;
	margin: 5px 0px 10px;
}
.imageBox .content h2 span:nth-child(1) {
	color: var(--success);
}
.imageBox .content h2 span:nth-child(2) {
	color: var(--secondary);
}
.imageBox .navbtn {
	/* flex: 1; */
	justify-self: flex-end;
	text-align: center;
	display: inline-block;
	border: 1px solid var(--info);
	border-radius: 5px;
	padding: 6px 14px;
	width: 100px;
	background-color: var(--info);
	color: var(--light);
}
@media screen and (max-width: 570px) {
	.imageBox .content {
		max-width: 100%;
		margin-top: 140px;
		margin: 140px 20px 0px;
	}
}
