:root {
	--info: #17a2b8;
	--danger: #dc3545;
	--primary: #007bff;
	--success: #28a745;
	--warning: #ffc107;
	--light: #f8f9fa;
	--background-color: #e3f2fd;
	--dark: #343a40;
	--muted: #6c757d;
	--white: #fff;
	--darker: #333;
	--btn: #e5be98;
	--picker: #fcfdfd;
	--secondary: #6c757d;
}
.showcase {
	color: #fff;
	background-color: #343434;
	position: relative;
	height: 100vh;
	width: 100vw;
}
.showcase:before {
	content: '';
	background: url('../../img/bgImage.jpg') no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}
.showcaseContent {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.showcaseContent nav {
	/* height: 100px; */
	width: 100%;
	display: flex;
	/* align-items: center; */
	z-index: 1;
	flex: 1;
	margin-top: 50px;
	align-self: center;
}
.showcaseContent section {
	z-index: 1;
	flex: 5;
	height: 100%;
	display: flex;
	/* background-color: red; */
}
.showcaseContent section .sectionContent {
	/* width: 600px; */
	width: 46%;
	margin: 14% 6rem;
	padding: 40px;
	display: flex;
	flex-direction: column;
	/* background: red; */
}

.showcaseContent section .sectionContent h1 {
	font-size: 1.6rem;
	margin-bottom: 8px;
}
.showcaseContent section .sectionContent p span {
	font-size: 1.2rem;
	display: block;
}
.showcaseContent section .sectionContent button {
	background-color: var(--info);
	width: 5.4rem;
	display: block;
	float: right;
	align-self: flex-end;
	border: none;
	outline: none;
	margin: 20px 10px 0px 0px;
	padding: 8px 8px;
	border-radius: 5px;
	color: var(--light);
	font-size: 1rem;
	font-weight: 500;
}
.showcaseContent section .sectionContent button:hover {
	background-color: var(--primary);
}
.showcaseContent nav .branding {
	flex: 2;
	margin-left: 4rem;
}
.showcaseContent nav .branding span {
	font-size: 1.8rem;
	font-weight: 500;
	background: linear-gradient(90deg, #17a2b8, #28a745, #6c757d, #f8f9fa);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.showcaseContent nav div:nth-child(2) {
	flex: 1;
	text-align: center;
}
.btn {
	background-color: var(--info);
	border: none;
	outline: none;
	padding: 12px 14px;
	border-radius: 8px;
	color: var(--light);
	font-size: 0.8rem;
	font-weight: 500;
	margin-right: 10px;
}
.btn:hover {
	background-color: var(--primary);
}

@media screen and (max-width: 800px) {
	.showcaseContent section .sectionContent {
		/* width: 600px; */
		width: 60%;
		margin: 14% 2rem;
	}
}
@media screen and (max-width: 620px) {
	.showcaseContent section .sectionContent {
		width: 80%;
		margin: 14% 2rem;
	}
}

@media screen and (max-width: 490px) {
	.showcaseContent section .sectionContent {
		width: 96%;
		margin: 14% 1rem;
	}
}
@media screen and (max-width: 360px) {
	.showcaseContent nav {
		margin-top: 30px;
	}
	.showcaseContent nav .branding {
		margin-left: 1rem;
	}
	.btn {
		padding: 10px 10px;
		border-radius: 5px;

		font-size: 0.8rem;
		font-weight: 500;
		margin-right: 16px;
	}
}
